<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EcommerceAppDB" connectionString="Data Source=YourServer;Initial Catalog=EcommerceTestDB;User ID=YourTestUser;Password=YourTestPassword;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
